CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
Debug
geopol.dir
x64
ALL_BUILD.vcxproj
ALL_BUILD.vcxproj.filters
CPackConfig.cmake
CPackSourceConfig.cmake
geopol.sln
geopol.vcxproj
geopol.vcxproj.filters
INSTALL.vcxproj
INSTALL.vcxproj.filters
PACKAGE.vcxproj
PACKAGE.vcxproj.filters
ZERO_CHECK.proj
ZERO_CHECK.proj.filters
build